body {
    display: block;
    margin: 8px;
    background: purple;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: white;
}

section {
    background: rgb(177, 87, 177);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.chamada {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

p {
    font-size: 40px;
}

img {
    height: 200px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
}